<div class="row">
    <div class="col-lg-3 border border-primary">      
        <app-beds beds="201"></app-beds>
    </div>
    <div class="col-lg-3 border border-primary">
        <app-doctor doctor="100"></app-doctor>
    </div>
    <div class="col-lg-3 border border-primary">
      <app-patient numberPatient="200"></app-patient>
    </div>
    <div class="col-lg-3 border border-primary">
        <app-appointment appointment="489"></app-appointment>       
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        
    </div>
    <div class="col-lg-3">
        
    </div>
    <div class="col-lg-3">
        
    </div>
    <div class="col-lg-3">
        
    </div>
</div>