<div class="homepage-2">
    <div class="main">
          
    </div>
</div>

<div class="homepage-5">
    <div class="main">
        <app-scrollup></app-scrollup>
        <frontend-header></frontend-header>
        <app-home></app-home>
        <app-features></app-features>   
        <app-work></app-work>    
        <app-download></app-download>   
        <app-faq-two></app-faq-two>   
        <app-contact></app-contact> 
        <frontends-frontend-footer></frontends-frontend-footer>
    </div>
</div>
